/*
   FILE: style.css
   Mục đích: Định dạng cho trang Home02.html có sidenav cố định và full-height
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    box-sizing: border-box;
}

.sidenav a {
    padding: 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.content {
    margin-left: 200px;
    padding: 1px 20px;
}

.content h2 {
    color: #333;
}
