body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#vung1 {
    background-color: yellow;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid orange;
}
#vung1 p {
    color: darkgoldenrod;
    font-weight: bold;
}

#vung2 {
    background-color: lightblue;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid blue;
}
#vung2 p {
    color: red;
}

#vung3 {
    background-color: lightcoral;
    padding: 15px;
    border: 2px solid red;
}
#vung3 p {
    color: white;
    font-weight: bold;
}

#vung2 img {
    
}
