div {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden; 
}

#vung1 {
    height: 20px;
    border-color: blue;
    background-color: #e3f2fd;
}

#vung2 {
    height: 70px;
    border-color: yellow;
    background-color: #fffde7; 
}

#vung3 {
    height: 20px;
    border-color: red;
    background-color: #ffebee;
}

.vung-image {
   
    max-width: 100%; 
    max-height: 50px;
    
    height: auto; 
    display: block; 
    margin: 5px auto 0; 
    border: 1px dashed #795548; 
}
